:root {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f3;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.shadow {
}

.button-shadow {
  box-shadow: -1px -1px 3px 0 #ffffff, 1.5px 1.5px 3px 0 #d2d2e3;
}

.inner-shadow {
  box-shadow: inset -1px -1px 1px 0 #ffffff, inset 1px 1px 2px 0 #0c121938;
}

.mode-wrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;

  > button {
    width: 60px;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
  }
}

.todo-wrapper {
  width: 580px;
  background-color: #f0f0f3;
  max-height: 416px;
  min-height: 350px;
  box-sizing: border-box;
  padding: 32px 36px;
  border-radius: 32px;
  box-shadow: -8px -8px 20px 0 #ffffff, 5.5px 5.5px 20px 0 #d2d2e3;

  > ul {
    padding: 0;
    max-height: 230px;
    min-height: 180px;
    overflow: auto;

    > li {
      width: auto;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      margin-bottom: 8px;

      > label {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 12px;

        > input {
          display: none;
        }

        > p {
          flex: 1;
          margin: 0;
        }
      }

      > button {
        width: 40px;
        background-color: none;
        border: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        > svg {
          opacity: 30%;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .todo-wrapper-input {
    background-color: #f0f0f3;
    height: 52px;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    gap: 8px;
    border-radius: 12px;

    > input {
      flex: 1;
      border: none;
      outline: none;
      padding: 12px;
      border-radius: 8px;
      background-color: #eeeeee;
    }

    > button {
      background-color: none;
      border: none;
      cursor: pointer;
    }
  }
}

.checkbox {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  > .checked-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}
.checkbox-non-checked {
  > .checked-wrapper {
    display: none;
  }
}
